.modal{
    width: 70%;
    *height: auto;
    height: 350px;
    position: fixed;
    top: 10%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(146,144,255,1);
}

.imageAndDescription{    
    height: 350px;
    display: flex;
    border-radius: 5px;
}

.imageAndDescription img{
    height: 350px;
    width: fit-content;
    border-radius: 5px 0 0 5px;
}

.description{
    padding: 0 20px 0 20px;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.884);
    gap: 25px;
    overflow: auto;
    height: 350px;
    border-radius: 0 5px 5px 0;
}

.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    color: #9290FF;
    border-radius: 0 5px 0 0;
    padding: 5px 10px;
    font-size: 35px;
    cursor: pointer;
    transition: .3s;
}

.closeButton:hover{    
    color: white;
}

.description h3{
    font-size: 40px;
    color: #9290FF;
    margin: 30px 0 0px 0;
}

.description p{
    font-size: 20px;
    margin: 0;
}

.description p strong{
    color: #9290FF;
}