.movies-container{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.movies-container p{
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin: 20px 0 0 10px;
    color: #9290FF;
}

.movies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.movies::-webkit-scrollbar{
    height: 5px;
}

.movies::-webkit-scrollbar-track{
    background: #7cb0da;
    border-radius: 5px;
}

.contenido{
    display: flex;
    flex-direction: column;
    flex: 1 0 16%;
    gap: 10px;
    height: 350px;
    margin: 10px 10px 50px 10px;
    cursor: pointer;
    text-align: center;
    transition: .2s;
}

.contenido:hover{
    opacity: 60%;
}

.contenido li{
    list-style: none;
    font-family: sans-serif;
    font-size: 18px;
}

.contenido img{
    width: 100%;
    border-radius: 5px;
    height: 100%;
}