.options {
  position: fixed;
  font-family: sans-serif;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

hr{
  width: 85%;
  color: #5EA2FF;
}

.options h2 {
  text-align: center;
  color: #9090FE;
  margin: 44px 0 16px 0;
  font-size: 32px;
}

.options p{
  font-size: 14px;
  
  margin-left: 25px;
  margin-bottom: 4px;
  color: #9090FE;
}

.main-options button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  right: -20px;
  border-radius: 100%;
}

.main-options button i{
  font-size: 40px;
}

.options ul {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0;
  margin-top: 0;
}

.options ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 10px 0 4px 25px;
  width: fit-content;
  transition: .3s;
  font-size: 22px;
  height: 40px;
}

.options ul li:hover{
  color: #7cb0da;
}

.options ul li a {
  text-decoration: none;
  color: antiquewhite;
  margin-left: 8px;
  transition: .3s;
}

.options ul li a:hover{
  color: #7cb0da;
}

.options ul li i{
  color: #7cb0da;
}